# Initialize Kensho API Notebook

In [23]:
%load_ext autoreload
%autoreload 2
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [24]:
# Your API access token here
with open('/home/ubuntu/workspace/ex50/token/jeff') as f:
    secret_token = f.read().strip()

In [25]:
# %load ../examples/client.py
import os

import pandas as pd
import requests


def _api_result_to_frame(api_result):
    """Convert API result into dataframe"""
    ordered_columns = [c['key'] for c in api_result['metadata']]
    # Create the dataframe
    df = pd.DataFrame(api_result['data'])
    existence_filtered_columns = [c for c in ordered_columns if c in df.columns]
    reordered_frame = df[existence_filtered_columns]

    for column in api_result['metadata']:
        if column['key'] not in reordered_frame.columns:
            continue
        if column['unit'] == 'DateTime' or column['unit'] == 'Date':
            reordered_frame[column['key']] = pd.to_datetime(reordered_frame[column['key']])
    return reordered_frame


class _KenshoGraphClient(object):
    """Basic implementation of the Kensho Graph API client"""

    def __init__(self, host, api_key, converter_func, retries=1):
        """Initialize the client"""
        self._host = host
        self._api_key = api_key
        self._retries = retries
        self._converter_func = converter_func

    def list_entity_classes(self):
        """List all available entity classes"""
        return self._get_json_or_raise('list_entity_classes')

    def get_class_relationships(self, class_name):
        """Return all potential relationships of an entity of this class"""
        return self._get_json_or_raise(
            'get_class_relationships', class_name=class_name)

    def search_entities(self, class_name, search_string):
        """Search entities of the class_name that match search_string"""
        return self._get_json_or_raise(
            'search_entities', class_name=class_name, search_string=search_string)

    def list_entities_of_class(self, class_name):
        """List all entities of class"""
        return self._get_json_or_raise(
            'list_entities_of_class', class_name=class_name)

    def get_entity(self, entity_id):
        """Get entity by id"""
        return self._get_json_or_raise('get_entity', entity_id=entity_id)

    def get_related_entities(self, entity_id, relationship):
        """Get all entities related by one identified by entity_id by 'relationship'"""
        return self._get_json_or_raise(
            'get_related_entities', entity_id=entity_id, relationship=relationship)

    def get_timeline(self, timeline_id, start_date=None, end_date=None):
        """Get all events in a timeline. Optionally bound by start and end dates"""
        return self._get_json_or_raise(
            'get_timeline', timeline_id=timeline_id, start_date=start_date, end_date=end_date)

    def get_calendar(self, start_date, end_date):
        """Get all events happening in the interval [start_date, end_date)"""
        return self._get_json_or_raise('get_calendar', start_date=start_date, end_date=end_date)

    def get_ongoing_episodes(self, start_date, end_date):
        """Get all episodes ongoing in the interval [start_date, end_date)"""
        return self._get_json_or_raise(
            'get_ongoing_episodes', start_date=start_date, end_date=end_date)

    def translate_asset_id(self, id_type, asset_id):
        """Given an identification string for an asset return all known identifiers"""
        return self._get_json_or_raise('translate_asset_id', id_type=id_type, asset_id=asset_id)

    def _get_json_or_raise(self, function, **kwargs):
        """Get json from a given url. Uses get_with_retries underneath"""
        session = requests.Session()
        session.mount('https://', requests.adapters.HTTPAdapter(max_retries=self._retries))
        full_url = os.path.join(self._host, function)
        headers = {
            'Authorization': 'Token {}'.format(self._api_key),
            'Content-Type': 'application/json'
        }
        response = session.get(full_url, headers=headers, params=kwargs)
        response.raise_for_status()
        result_json = response.json()
        return self._converter_func(result_json)


def get_json_graph_client(host, api_key, retries=1):
    """Get a client that returns raw json"""
    return _KenshoGraphClient(host, api_key, lambda x: x, retries=retries)


def get_pandas_graph_client(host, api_key, retries=1):
    """Get a client that returns raw json"""
    return _KenshoGraphClient(
        host, api_key, _api_result_to_frame, retries=retries)

In [26]:
client = get_pandas_graph_client('http://www.kensho.com/external/v1', secret_token)
json_client = get_json_graph_client('http://www.kensho.com/external/v1', secret_token)

# Reference - basic classes

In [27]:
client.list_entity_classes()

     class_name  can_list_entities
0        Sector               True
1       Concept               True
2  TimelineType               True
3      Timeline              False
4        Region               True
5      Currency               True
6   BankMeeting              False
7        Equity              False
8   CentralBank               True

In [28]:
client.get_class_relationships('TimelineType')

        relationship_id related_class
0       TimelineSubtype  TimelineType
1  TimelineTypeTimeline      Timeline

# Search all M&A events

### Get M&A timeline entity

In [30]:
df = client.list_entities_of_class('TimelineType')

In [31]:
df[df.entity_name.isin(['M&A'])]

,entity_name,entity_type,entity_id,entity_aliases,parent_name,parent_id
178,M&A,TimelineType,6205dfab-9d20-4933-b7ed-78b632bf1b64,[],Transactions,48fd28a4-5d49-45c8-a7e0-0654e03ed969

### Get all M&A Timelines

In [8]:
# Use 'TimelineTypeTimeline' relationship to get all events of certain timelinetype.
client.get_related_entities('6205dfab-9d20-4933-b7ed-78b632bf1b64', 'TimelineTypeTimeline')

,entity_name,entity_type,entity_id,entity_aliases,timeline_type,related_entities
0,Major Automotive Company Spinoff Milestones,Timeline,ffdc0dc3-4214-4631-98b6-53da408eff58,[],M&A,[]
1,U.S. Pharmaceutical Sector Broken Merger and A...,Timeline,6deb3dce-9561-4c08-825c-e84654b3057e,[],M&A,[]
2,DineEquity Asset Sale Announcements,Timeline,369b7158-ee21-4c62-a584-a2b29d7eec55,[],M&A,[]
3,Cameron International Corp Asset Sale Announce...,Timeline,89a9ba69-02fd-4a0e-8cfa-a854ac2defe2,[],M&A,[{'entity_id': '14b6d607-311a-4a7e-9442-bd2426...
4,The U.S. Department of the Treasury Sells Stak...,Timeline,66413a51-1a35-4160-b6e5-a2c4a77f4417,[],M&A,[{'entity_id': '229c72a7-d35a-4290-8853-f97248...
5,Major U.S. Private Equity Acquisitions,Timeline,8327b247-433d-40ac-8e75-eb98892a3fde,[],M&A,[]
6,U.S. Real Estate Sector Broken Merger and Acqu...,Timeline,cff0437a-459c-4e9b-8acf-d5157f0ac3b2,[],M&A,[]
7,Confirmed Apple Investments over $1M,Timeline,a0debd16-7178-4925-ba7e-2b4b82eded76,[],M&A,[{'entity_id': 'f9d09c10-c6de-4e8f-9624-996774...
8,U.S. Retail Sector Broken Merger and Acquisiti...,Timeline,f04b5101-8d92-45e6-bd08-2aa68667a566,[],M&A,[]
9,,Timeline,1ce25296-cbc9-43a4-b0df-11b55d699536,[],M&A,[{'entity_id': '190a9401-3a7f-4f3c-a49e-aa0487...
10,Ann Inc. Acquisition Rumors,Timeline,ec4a999c-fea6-4c10-bf03-95b9cbe860b2,[],M&A,[]
11,U.S. Technology Sector Broken Mergers and Acqu...,Timeline,e7c2b682-626d-4e32-a97a-d7f57d585afb,[],M&A,[]
12,Endo International Asset Departure Announcements,Timeline,868c189b-7db0-4bca-9268-e4546d0ae86c,[],M&A,[{'entity_id': '717b928b-bbaa-48e8-bb9f-043bda...
13,Nissan Investment Announcements,Timeline,c2e5f461-de00-4876-b16e-b497a932816b,[],M&A,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...
14,Confirmed Intel Investment Announcements over ...,Timeline,17bfd05d-8633-4779-92d5-230c1dd10cb2,[],M&A,[{'entity_id': '9d110065-1215-469b-81e0-1e626a...
15,Yahoo Alibaba Group Spin-off Announcements,Timeline,4ebf4f0c-28fd-47e5-a19f-8ef362144a85,[],M&A,[{'entity_id': 'fa4c20cc-88c8-4c84-8783-587d92...
16,Confirmed Investments by NBCUniversal above $10M,Timeline,f87b0571-2855-4dd9-a419-1635a9c9af77,[],M&A,[{'entity_id': '6522e9ca-4645-4ee3-9f01-8e41a5...
17,Alibaba Buys a Stake in a Company,Timeline,247fb452-7135-4d97-a8e7-ceab360525b1,[],M&A,[{'entity_id': '6b7f93a8-cb9b-4358-a2a8-a11523...
18,Confirmed Time Warner Cable Investments over $5M,Timeline,7523dc39-73c8-466a-b80c-72ef056e2cda,[],M&A,[{'entity_id': 'c9a4c5fc-b49f-4274-897c-291498...
19,Confirmed Alibaba Investments over $100M,Timeline,4cebb4fd-331e-4b9e-a0a1-194c0ea83f08,[],M&A,[{'entity_id': '6b7f93a8-cb9b-4358-a2a8-a11523...
20,fbFund Investments over $25K,Timeline,1fbb45f9-5edd-455e-a961-e04d3a27ee8d,[],M&A,[{'entity_id': 'd8ce5287-c2c4-4c5a-8ec7-334b82...
21,TransDigm Group Acquisition Completions,Timeline,c609329a-452b-4b66-a489-0717e03bb8ce,[],M&A,[{'entity_id': '7b17a315-4fef-4406-b29a-36e357...
22,Major Partnerships and Mergers by Union Pacific,Timeline,88da358e-37e3-48dc-9d31-6549fc3a5957,[],M&A,[{'entity_id': 'dff90424-ec2d-4fea-93ad-f3c5f5...
23,Confirmed Google Investments over $40M,Timeline,9f6eab61-600c-4081-84fd-b83aac6313a8,[],M&A,[{'entity_id': '37c53a09-309b-40bc-b165-90f0aa...
24,Confirmed Amazon Investments over $10M,Timeline,06c99186-5a8c-4415-a8f3-5d2a2ee8ed30,[],M&A,[{'entity_id': 'cfb73e32-4fa8-4701-898c-6c3927...
25,Softbank Group Buys a Stake in a Company,Timeline,8cb13b1f-5a9c-4244-b1a4-33ab5d6272bd,[],M&A,[{'entity_id': 'd889ddda-8b36-4cc4-b622-f9ca84...
26,Merger and Acquisition Announcements by Koch E...,Timeline,2bc1b369-27b3-447d-9b62-8d303132cf64,[],M&A,[]
27,Time Warner Cable Acquisition Announcements si...,Timeline,640415f1-cf49-49f9-b7c0-eb4073ad76da,[],M&A,[{'entity_id': 'cc4d670b-6f4f-4dd6-be9f-d68394...
28,Liberty Interactive Buys a Stake in a Company,Timeline,e704642e-0c2b-45b9-b18b-f0dc92c2bd4e,[],M&A,[]
29,Investments by Comcast Ventures above $25M (Po...,Timeline,6fc3c58e-96e6-4278-9dd9-c0821c6a18b7,[],M&A,[{'entity_id': '6522e9ca-4645-4ee3-9f01-8e41a5...
...,...,...,...,...,...,...
2199,Mergers and Acquisitions announcements by MTS ...,Timeline,4b5d470e-d6e9-4790-bc00-738e08250690,[],M&A,[]
2200,Mergers and Acquisitions announcements by Shor...,Timeline,c2779ee3-0621-4dd6-8142-8c1aa76d5448,[],M&A,[{'entity_id': 'a52fec44-776d-4d7a-9ef7-22da5b...
2201,Mergers and Acquisitions announcements by Ente...,Timeline,b6fde697-c32c-45b6-9f03-b88be382d162,[],M&A,[{'entity_id': '5034fb6c-3d86-4457-9c1b-d7067c...
2202,Mergers and Acquisitions announcements by Urst...,Timeline,6e51ef9d-b3ab-4654-9c6e-563457154dda,[],M&A,[]
2203,Mergers and Acquisitions announcements by Abra...,Timeline,022847d7-cde2-42ce-997f-d25062cb9fe7,[],M&A,[{'entity_id': 'a447a8ee-dc4a-4a02-b2ae-7be8c2...
2204,"Mergers and Acquisitions announcements by PCM,...",Timeline,a1e6a1fb-2dd3-4fe0-83da-7478b29d8663,[],M&A,[]
2205,Mergers and Acquisitions announcements by Unit...,Timeline,14ca99c9-bca8-4fc5-b232-fb8281131225,[],M&A,[{'entity_id': '1a122c8e-e21f-405e-a04c-de73bd...
2206,Mergers and Acquisitions announcements by Maxw...,Timeline,35a7e3cd-eec8-49e1-a227-00865b719129,[],M&A,[{'entity_id': '743ed3fc-8d41-46c6-8cc8-4bda9a...
2207,Mergers and Acquisitions announcements by Arch...,Timeline,baf53a36-32a3-4eaa-9afa-ca28fd2f1be1,[],M&A,[{'entity_id': 'bdaf6a2c-81a7-4752-8864-6f9114...
2208,Mergers and Acquisitions announcements by Come...,Timeline,9693859c-9423-4ff3-b099-0a5759e36e3e,[],M&A,[{'entity_id': '80138663-c306-4f49-869b-30283f...
2209,Mergers and Acquisitions announcements by J. C...,Timeline,9498dca8-dd6c-4b5c-b637-9330a2b61900,[],M&A,[{'entity_id': '6821e5e1-5284-43cf-b3de-bb5b05...
2210,Mergers and Acquisitions announcements by Arms...,Timeline,7ee25b35-3f7f-4231-97d7-abf669718b22,[],M&A,[{'entity_id': '4b6024e6-f7da-44d4-b38b-99945f...
2211,Mergers and Acquisitions announcements by ARC ...,Timeline,94ad072a-f4d2-4443-be38-0e782b38a8a1,[],M&A,[{'entity_id': 'd83c7a92-b59a-4acb-92d5-88c41d...
2212,Mergers and Acquisitions announcements by Nort...,Timeline,9eb0e6f1-3d3d-423c-9f32-77ef4d544c8d,[],M&A,[{'entity_id': '0e5ba412-e12c-4f84-8f31-d2e30c...
2213,Mergers and Acquisitions announcements by Masc...,Timeline,0105189a-5401-454c-81c2-ebd61f17254a,[],M&A,[{'entity_id': '74ccf573-b42d-49a4-8478-b04c54...
2214,Mergers and Acquisitions announcements by Twin...,Timeline,dab273a2-f19b-40ee-84a1-0d1331d11221,[],M&A,[]
2215,Mergers and Acquisitions announcements by The ...,Timeline,1f73f02d-8e22-4352-aa9c-e81d4956a29b,[],M&A,[{'entity_id': 'c3128600-874c-46b2-b36a-e3d292...
2216,Mergers and Acquisitions announcements by The ...,Timeline,b5305e42-dbe7-4e42-a525-401f13c81303,[],M&A,[]
2217,Mergers and Acquisitions announcements by Ryoh...,Timeline,02e30d70-6729-4507-85ff-a782082e4d94,[],M&A,[{'entity_id': '4594109b-0c6e-4079-a308-d1edaa...
2218,Mergers and Acquisitions announcements by C&F ...,Timeline,bea9fac8-021a-467d-ae97-037623ce3353,[],M&A,[]
2219,Mergers and Acquisitions announcements by Nati...,Timeline,70b80197-be37-4cab-9084-b0ff3ff4667c,[],M&A,[]
2220,Mergers and Acquisitions announcements by Amer...,Timeline,b8e37540-312d-4b35-b718-d3f0b7580a4c,[],M&A,[{'entity_id': '3c3b3f7c-07ea-4335-8c3b-88f0dd...
2221,Mergers and Acquisitions announcements by Shil...,Timeline,06cafb4f-d07d-4367-9e92-4dfa7ab79933,[],M&A,[{'entity_id': '14ad924f-35dc-4dca-bae0-ddbb7f...
2222,Mergers and Acquisitions announcements by Kimb...,Timeline,b72d162a-0f0c-4701-b58a-d6fc2fc4c238,[],M&A,[]
2223,Mergers and Acquisitions announcements by RTI ...,Timeline,4d6b2b9e-47eb-41c3-baa9-6938e7f1a060,[],M&A,[{'entity_id': '2644d9f6-2cce-414e-838f-a1ebae...
2224,Mergers and Acquisitions announcements by Towe...,Timeline,1174df2d-8db4-4a77-8bb1-4d85f15d12c1,[],M&A,[{'entity_id': '9437e212-02ac-424e-88fc-9e33bd...
2225,Mergers and Acquisitions announcements by Craw...,Timeline,925b9cfe-3963-4484-bd0b-732553177579,[],M&A,[]
2226,Mergers and Acquisitions announcements by Nano...,Timeline,f1264589-0a8f-4bd3-a04e-e6841ab92baa,[],M&A,[{'entity_id': 'f9764579-b6e3-4422-abcb-ae51b4...
2227,Mergers and Acquisitions announcements by Time...,Timeline,394a3edc-149f-4659-8a32-a7f0636e9c6c,[],M&A,[{'entity_id': 'c9a4c5fc-b49f-4274-897c-291498...
2228,Mergers and Acquisitions announcements by Amer...,Timeline,829f0d84-09c6-45d1-a303-cf245a3e26bd,[],M&A,[{'entity_id': '300b04cd-5f23-43c2-aa94-90a9d5...

In [9]:
client.get_timeline('c2e5f461-de00-4876-b16e-b497a932816b')

,event_date,event_date_precision,event_name,provenance,primary_provenance,related_entities,event_description
0,1989-11-21,YYYY-MM-DD,Nissan invests $1 billion to expand its Mexico...,[http://articles.latimes.com/1989-11-22/busine...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
1,2001-03-20,YYYY-MM-DD,Nissan increases investment in Thailand,[],[https://newsroom.nissan-global.com/releases/0...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
2,2001-12-20,YYYY-MM-DD,Renault-Nissan invests $236 million in Brazil,[],[http://www.nissan-global.com/EN/NEWS/2001/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
3,2003-07-02,YYYY-MM-DD,Nissan invests 400 million euros in Nissan Mot...,[],[http://www.nissan-global.com/EN/NEWS/2003/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
4,2004-04-05,YYYY-MM-DD,Nissan increases investment in Thailand,[],[http://www.nissan-global.com/EN/NEWS/2004/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
5,2004-06-28,YYYY-MM-DD,Nissan invests $60 million in Egypt,[http://www.upi.com/Nissan-invests-60-million-...,[http://www.nissan-global.com/EN/NEWS/2004/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
6,2004-07-02,YYYY-MM-DD,Nissan invests about $250 million in Thai oper...,[],[http://www.nissan-global.com/EN/NEWS/2004/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
7,2004-07-16,YYYY-MM-DD,Nissan invests $47.3 million in plant in the U.S.,[ ],[http://www.nissan-global.com/EN/NEWS/2004/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
8,2004-11-29,YYYY-MM-DD,Nissan invests €140 million in new truck produ...,[http://www.just-auto.com/news/nissan-to-inves...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
9,2005-02-01,YYYY-MM-DD,Nissan invests £223 million in U.K,[],[http://www.nissan-global.com/EN/NEWS/2005/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
10,2005-03-08,YYYY-MM-DD,Nissan invests $752 million in Thailand,[http://www.just-auto.com/news/nissan-to-tripl...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
11,2005-07-18,YYYY-MM-DD,Nissan invests ¥5 billion to upgrade Mexican p...,[http://www.theautochannel.com/news/2005/07/17...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
12,2005-11-10,YYYY-MM-DD,Nissan invests $70 million to build new headqu...,[],[http://www.nissan-global.com/EN/NEWS/2005/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
13,2006-02-06,YYYY-MM-DD,"Nissan invests ¥11 billion in new compact, wat...",[],[http://www.nissan-global.com/EN/NEWS/2006/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
14,2006-02-09,YYYY-MM-DD,Nissan invests ¥100 billion on vehicles for Ch...,[http://www.greencarcongress.com/2006/02/nissa...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
15,2006-04-25,YYYY-MM-DD,Nissan invests $200 million in the vehicle ass...,[],[http://www.nissan-global.com/EN/NEWS/2006/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
16,2006-08-29,YYYY-MM-DD,Nissan plans to invest $50 million in Indonesia,[http://jawawa.id/index.php/newsitem/nissan-to...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
17,2006-10-12,YYYY-MM-DD,Nissan invests $60 million in Indonesia,[http://www.indonesiamatters.com/924/nissan-li...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
18,2007-05-15,YYYY-MM-DD,Nissan invests $750 million in new R&D center ...,[http://www.reuters.com/article/nissan-allianc...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
19,2007-06-15,YYYY-MM-DD,Nissan invests $4.7 million in its plant in Su...,[http://www.automotive-business-review.com/new...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
20,2007-06-20,YYYY-MM-DD,Nissan invests $150 million in Brazil,[],[http://www.nissan-global.com/EN/DOCUMENT/HTML...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
21,2008-02-15,YYYY-MM-DD,Nissan invests $930 million on information tec...,[http://www.leftlanenews.com/nissan-invests-93...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
22,2008-05-11,YYYY-MM-DD,Renault SA and Nissan invests up to $1 billion...,[http://www.reuters.com/article/us-israel-elec...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
23,2008-06-03,YYYY-MM-DD,Nissan invests in Sunderland plant in the U.K,[],[http://www.nissan-global.com/EN/NEWS/2008/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
24,2008-06-06,YYYY-MM-DD,Nissan invests $550 million for a new plant in...,[],[http://www.nissan-global.com/EN/NEWS/2008/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
25,2008-07-18,YYYY-MM-DD,Nissan and Renault invests 1 billion rand in a...,[],[http://www.nissan-global.com/EN/NEWS/2008/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
26,2009-06-20,YYYY-MM-DD,Nissan plans to invest $516.4 million in the U.S.,[http://www.reuters.com/article/us-nissan-idUS...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
27,2009-07-20,YYYY-MM-DD,Nissan invests $700 million to make batteries ...,[http://www.reuters.com/article/uk-britain-nis...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
28,2010-03-18,YYYY-MM-DD,Nissan invests about GBP 420 million to build...,[],[http://www.nissan-global.com/EN/NEWS/2010/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
29,2010-05-24,YYYY-MM-DD,Nissan invests $990 million with Renault for a...,[],[http://www.nissan-global.com/EN/NEWS/2010/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
30,2010-06-29,YYYY-MM-DD,Nissan invests $20 million in Indonesia,[],[http://www.nissan-global.com/EN/NEWS/2010/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
31,2010-07-15,YYYY-MM-DD,Nissan invests $600 million at plant in Mexico,[http://www.autonews.com/article/20100716/OEM0...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
32,2011-03-04,YYYY-MM-DD,Nissan invests $1.05 billion at Mexico locations,[],[http://www.nissan-global.com/EN/NEWS/2011/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
33,2011-05-17,YYYY-MM-DD,Nissan invests JPY 3 billion at Iwaki engine p...,[http://uk.reuters.com/article/japanautos-idUK...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
34,2011-05-23,YYYY-MM-DD,Nissan invests $37 million at Iwaki plant in J...,[http://www.indiandrives.com/nissan-co-to-inve...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
35,2011-06-08,YYYY-MM-DD,Nissan invests £192 million at plant in Britain,[http://uk.reuters.com/article/uk-nissan-brita...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
36,2011-07-26,YYYY-MM-DD,Nissan invests $320 million in Indonesia plant,[http://www.chinapost.com.tw/business/asia/ind...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
37,2011-07-26,YYYY-MM-DD,Nissan invests $7.8 billion in China,[http://in.reuters.com/article/nissan-china-id...,[http://www.nissan-global.com/EN/NEWS/2011/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
38,2011-09-27,YYYY-MM-DD,Nissan plans to invest $1.5 billion in Brazil,[http://www.reuters.com/article/us-nissan-braz...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
39,2011-10-06,YYYY-MM-DD,Nissan invests $1.42 billion to build a new fa...,[http://www.reuters.com/article/brazil-nissan-...,[http://www.nissan-global.com/EN/NEWS/2011/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
40,2012-01-25,YYYY-MM-DD,Nissan plans to invest $2 billion for an all-n...,[],[http://www.nissan-global.com/EN/NEWS/2012/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
41,2012-03-06,YYYY-MM-DD,Nissan invests $198 million in U.K. plant to b...,[http://www.independent.co.uk/news/uk/home-new...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
42,2012-03-20,YYYY-MM-DD,Nissan plans to invest $400 million in Indonesia,[http://in.reuters.com/article/nissan-indonesi...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
43,2012-04-10,YYYY-MM-DD,Nissan invests $200 million to build a new hat...,[http://www.reuters.com/article/japan-britain-...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
44,2012-05-23,YYYY-MM-DD,Nissan invests EUR 100 million in Spain to sta...,[],[http://www.nissan-global.com/EN/NEWS/2012/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
45,2012-11-02,YYYY-MM-DD,Nissan invests 11 billion baht for new plant i...,[],[http://www.nissan-global.com/EN/NEWS/2012/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
46,2012-12-19,YYYY-MM-DD,Nissan invests £250 million in Sunderland plan...,[],[http://www.nissan-global.com/EN/NEWS/2012/_ST...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
47,2013-02-04,YYYY-MM-DD,Nissan plans to invest $178 million in Barcelo...,[http://www.reuters.com/article/us-nissan-spai...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
48,2013-02-22,YYYY-MM-DD,Renault-Nissan invests $320 million in a new c...,[http://www.reuters.com/article/nissan-india-n...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
49,2013-07-16,YYYY-MM-DD,Nissan and Renault participates in $2.5 billio...,[http://www.wsj.com/articles/SB100014241278873...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
50,2014-02-07,YYYY-MM-DD,Nissan plans to invests $200 million in establ...,[http://www.ihssupplierinsight.com/news/24735/...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
51,2014-06-27,YYYY-MM-DD,Nissan participates in $1.4 billion investment...,[http://www.wsj.com/articles/daimler-nissan-to...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
52,2015-06-18,YYYY-MM-DD,Nissan invests in a new press line at Sunderla...,[http://www.bbc.com/news/uk-england-tyne-33179...,[http://www.sunderlandecho.com/news/business/n...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
53,2015-06-22,YYYY-MM-DD,Nissan invests $70 million in Egypt,[http://www.zawya.com/story/Nissan_Egypt_to_pu...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
54,2015-09-03,YYYY-MM-DD,Nissan invests GBP 100 million in British plant,[],[http://newsroom.nissan-europe.com/eu/en-gb/me...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
55,2016-01-21,YYYY-MM-DD,Nissan invests an extra GBP 26.5 million in Su...,[],[http://newsroom.nissan-europe.com/eu/en-gb/me...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
56,2016-01-23,YYYY-MM-DD,Nissan plans to invest $600 million in Cordoba...,[http://www.buenosairesherald.com/article/2073...,[],[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,
57,2016-07-29,YYYY-MM-DD,Renault-Nissan invests $800 million in Argentina,[],[http://media.renault.com/global/en-gb/allianc...,[{'entity_id': '7c6e24c8-fa38-45ec-abcd-7af634...,

# Search M&A events for specific asset

### Find entity_id of an asset

In [10]:
client.search_entities('Equity', 'D05')

,entity_name,entity_type,entity_id,entity_aliases,ticker_name,sector_name,sector_id
0,DBS Group Holdings Ltd (D05),Equity,41c9afcc-0906-4b77-a175-69a7b00d3021,[],D05,Diversified Banks,448a3161-f080-4684-8333-f2c74b5d77a8

### And it's M&A Timeline

In [11]:
dbs_events = client.get_related_entities('41c9afcc-0906-4b77-a175-69a7b00d3021', 'EquityTimelines')

In [13]:
#The timeline_type of M&A event is 'M&A'
dbs_events[dbs_events.timeline_type == 'M&A']

,entity_name,entity_type,entity_id,entity_aliases,timeline_type,related_entities
1,Mergers and Acquisitions announcements by DBS ...,Timeline,a869291b-6ead-4f56-84f8-bff4548e9594,[],M&A,[{'entity_id': '41c9afcc-0906-4b77-a175-69a7b0...

In [14]:
client.get_timeline('a869291b-6ead-4f56-84f8-bff4548e9594')

,event_date,event_date_precision,event_name,related_entities,primary_provenance,provenance,event_description
0,2001-04-09,YYYY-MM-DD,DBS Group Holdings Ltd announces plans to acqu...,[{'entity_id': '41c9afcc-0906-4b77-a175-69a7b0...,[],[],
1,2008-02-01,YYYY-MM-DD,DBS Group Holdings Ltd announces plans to acqu...,[{'entity_id': '41c9afcc-0906-4b77-a175-69a7b0...,[],[],

# Search M&A events in region

### Look up Japan M&A events entity

In [32]:
regions = client.list_entities_of_class('Region')

In [33]:
regions[regions.entity_name == 'Japan']

,entity_name,entity_type,entity_id,entity_aliases,region_type,parent_name,parent_id
223,Japan,Region,144276e1-01aa-457f-8c05-5f6350ad0434,"[JP, Japanese]",Country,Eastern Asia,2d4ecaf6-68e3-41bd-8cca-d5f1020d5992

In [34]:
client.get_class_relationships('Region')

    relationship_id related_class
0  ContainedRegions        Region
1         Subregion        Region
2    RegionCurrency      Currency
3   RegionTimelines      Timeline

In [35]:
japan_timelines = client.get_related_entities('144276e1-01aa-457f-8c05-5f6350ad0434', 'RegionTimelines')

In [36]:
japan_timelines[japan_timelines.timeline_type == 'M&A']

,entity_name,entity_type,entity_id,entity_aliases,timeline_type,related_entities
30,Mergers and Acquisitions by Companies in Japan,Timeline,7e34e1fb-7305-47f3-862c-ca79b3169475,[],M&A,[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...

### List up all M&A events related to Japan

In [19]:
japan_mergers = client.get_timeline('7e34e1fb-7305-47f3-862c-ca79b3169475')

In [20]:
japan_mergers

,event_date,event_date_precision,event_name,acquired_company_region,primary_provenance,provenance,related_entities,event_description
0,1987-05-27,YYYY-MM-DD,Shimizu Corporation announces plans to acquire...,United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1,1988-10-12,YYYY-MM-DD,"Hitachi Metals, Ltd. announces plans to acquir...",United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
2,1989-09-28,YYYY-MM-DD,Kyocera Corporation announces plans to acquire...,United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
3,1990-01-01,YYYY-MM-DD,Kikkoman Corporation announces plans to acquir...,United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
4,1990-11-26,YYYY-MM-DD,Panasonic Corporation announces plans to acqui...,United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
5,1991-10-30,YYYY-MM-DD,Shimadzu Corporation announces plans to acquir...,United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
6,1992-09-01,YYYY-MM-DD,Air Water Inc. announces plans to acquire 100....,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
7,1997-04-01,YYYY-MM-DD,"Ryohin Keikaku Co., Ltd. announces plans to ac...",United Kingdom of Great Britain and Northern I...,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
8,1997-06-30,YYYY-MM-DD,SoftBank Group Corp. announces plans to acquir...,United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
9,1998-11-20,YYYY-MM-DD,"Mitsui O.S.K. Lines, Ltd. announces plans to a...",Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
10,1999-01-14,YYYY-MM-DD,Coca-Cola Bottlers Japan Holdings Inc. announc...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
11,1999-01-29,YYYY-MM-DD,"Hitachi, Ltd. announces plans to acquire 100.0...",United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
12,1999-04-19,YYYY-MM-DD,MediPal Holdings Corporation announces plans t...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
13,1999-04-19,YYYY-MM-DD,MediPal Holdings Corporation announces plans t...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
14,1999-06-30,YYYY-MM-DD,SoftBank Group Corp. announces plans to acquir...,United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
15,1999-07-07,YYYY-MM-DD,Toshiba Corporation announces plans to acquire...,United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
16,1999-07-30,YYYY-MM-DD,NEC Corporation announces plans to acquire 51....,Brazil,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
17,1999-09-02,YYYY-MM-DD,Mitsubishi Electric Corporation announces plan...,Brazil,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
18,1999-11-03,YYYY-MM-DD,Dentsu Inc. announces plans to acquire 20.00% ...,United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
19,1999-12-16,YYYY-MM-DD,KDDI Corporation announces plans to acquire 10...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
20,1999-12-16,YYYY-MM-DD,KDDI Corporation announces plans to acquire 10...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
21,2000-02-14,YYYY-MM-DD,IHI Corporation announces plans to acquire 100...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
22,2000-02-15,YYYY-MM-DD,Fujitsu Limited announces plans to acquire 69....,United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
23,2000-02-18,YYYY-MM-DD,NEC Corporation announces plans to acquire 30....,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
24,2000-02-24,YYYY-MM-DD,SoftBank Group Corp. announces plans to acquir...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
25,2000-03-08,YYYY-MM-DD,TDK Corporation announces plans to acquire 100...,United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
26,2000-03-13,YYYY-MM-DD,"Sumitomo Electric Industries, Ltd. announces p...",United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
27,2000-03-14,YYYY-MM-DD,Sony Corporation announces plans to acquire 10...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
28,2000-03-14,YYYY-MM-DD,Sony Corporation announces plans to acquire 33...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
29,2000-03-16,YYYY-MM-DD,SoftBank Group Corp. announces plans to acquir...,United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
...,...,...,...,...,...,...,...,...
1650,2017-09-01,YYYY-MM-DD,"SECOM CO., LTD. announces plans to acquire 100...",Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1651,2017-09-29,YYYY-MM-DD,"Mitsui & Co., Ltd. announces plans to acquire ...",Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1652,2017-10-03,YYYY-MM-DD,Toshiba Corporation announces plans to acquire...,United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1653,2017-10-25,YYYY-MM-DD,"Mitsui & Co., Ltd. announces plans to acquire ...",Norway,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1654,2017-10-26,YYYY-MM-DD,Fujitsu Limited announces plans to acquire 43....,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1655,2017-10-31,YYYY-MM-DD,Nippon Yusen Kabushiki Kaisha announces plans ...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1656,2017-11-12,YYYY-MM-DD,SoftBank Group Corp. announces plans to acquir...,United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1657,2017-11-17,YYYY-MM-DD,KDDI Corporation announces plans to acquire 9....,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1658,2017-11-29,YYYY-MM-DD,"Mitsui Chemicals, Inc. announces plans to acqu...",Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1659,2017-11-30,YYYY-MM-DD,Teijin Limited announces plans to acquire 0.25...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1660,2017-11-30,YYYY-MM-DD,"Toppan Printing Co., Ltd. announces plans to a...",Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1661,2017-12-15,YYYY-MM-DD,"Kyushu Electric Power Company, Incorporated an...",United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1662,2017-12-21,YYYY-MM-DD,"Mitsui & Co., Ltd. announces plans to acquire ...",Portugal,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1663,2017-12-21,YYYY-MM-DD,Japan Tobacco Inc. announces plans to acquire ...,Ethiopia,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1664,2017-12-22,YYYY-MM-DD,JTEKT Corporation announces plans to acquire 4...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1665,2018-01-05,YYYY-MM-DD,Takeda Pharmaceutical Company Limited announce...,Belgium,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1666,2018-01-29,YYYY-MM-DD,ITOCHU Corporation announces plans to acquire ...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1667,2018-01-31,YYYY-MM-DD,FUJIFILM Holdings Corporation announces plans ...,United States of America,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1668,2018-02-07,YYYY-MM-DD,"Toyo Seikan Group Holdings, Ltd. announces pla...",Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1669,2018-02-07,YYYY-MM-DD,Air Water Inc. announces plans to acquire 49.8...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1670,2018-02-13,YYYY-MM-DD,"Mitsui O.S.K. Lines, Ltd. announces plans to a...",Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1671,2018-02-23,YYYY-MM-DD,NH Foods Ltd. announces plans to acquire 8.90%...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1672,2018-02-28,YYYY-MM-DD,"USS Co., Ltd. announces plans to acquire 33.96...",Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1673,2018-03-09,YYYY-MM-DD,DENSO Corporation announces plans to acquire 4...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1674,2018-03-22,YYYY-MM-DD,ANA Holdings Inc. announces plans to acquire 1...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1675,2018-03-28,YYYY-MM-DD,Kaneka Corporation announces plans to acquire ...,Spain,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1676,2018-04-19,YYYY-MM-DD,ITOCHU Corporation announces plans to acquire ...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1677,2018-04-19,YYYY-MM-DD,Takeda Pharmaceutical Company Limited announce...,Ireland,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1678,2018-05-10,YYYY-MM-DD,"NTT DOCOMO, INC. announces plans to acquire 15...",Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,
1679,2018-05-14,YYYY-MM-DD,FUJIFILM Holdings Corporation announces plans ...,Japan,[],[],[{'entity_id': '144276e1-01aa-457f-8c05-5f6350...,

### Search for cross region M&A (Japan and another country)

In [50]:
japan_mergers[japan_mergers.acquired_company_region == 'Singapore']

,event_date,event_date_precision,event_name,acquired_company_region,primary_provenance,provenance,related_entities,event_description
186,2004-11-05,YYYY-MM-DD,"NTT DOCOMO, INC. announces plans to acquire 10...",Singapore,[],[],[],
274,2005-08-18,YYYY-MM-DD,"Mitsui O.S.K. Lines, Ltd. announces plans to a...",Singapore,[],[],[],
329,2006-01-05,YYYY-MM-DD,Toshiba Corporation announces plans to acquire...,Singapore,[],[],[],
446,2006-11-29,YYYY-MM-DD,Nidec Corporation announces plans to acquire 1...,Singapore,[],[],[],
486,2007-03-26,YYYY-MM-DD,Nidec Corporation announces plans to acquire 1...,Singapore,[],[],[],
492,2007-04-04,YYYY-MM-DD,Sumitomo Corporation announces plans to acquir...,Singapore,[],[],[],
591,2008-06-10,YYYY-MM-DD,"Toppan Printing Co., Ltd. announces plans to a...",Singapore,[],[],[],
616,2008-09-05,YYYY-MM-DD,"Kyushu Electric Power Company, Incorporated an...",Singapore,[],[],[],
813,2010-07-26,YYYY-MM-DD,"Kirin Holdings Company, Limited announces plan...",Singapore,[],[],[],
911,2011-07-13,YYYY-MM-DD,"Mitsui & Co., Ltd. announces plans to acquire ...",Singapore,[],[],[],
1048,2012-06-26,YYYY-MM-DD,"Osaka Gas Co., Ltd. announces plans to acquire...",Singapore,[],[],[],
1088,2012-09-25,YYYY-MM-DD,SoftBank Group Corp. announces plans to acquir...,Singapore,[],[],[],
1099,2012-10-30,YYYY-MM-DD,"Nippon Express Co., Ltd. announces plans to ac...",Singapore,[],[],[],
1204,2013-09-02,YYYY-MM-DD,"Rakuten, Inc. announces plans to acquire 100.0...",Singapore,[],[],[],
1323,2014-11-27,YYYY-MM-DD,"Fuji Electric Co., Ltd. announces plans to acq...",Singapore,[],[],[],
1325,2014-12-01,YYYY-MM-DD,Toshiba Corporation announces plans to acquire...,Singapore,[],[],[],
1396,2015-06-12,YYYY-MM-DD,"Mitsui & Co., Ltd. announces plans to acquire ...",Singapore,[],[],[],
1418,2015-08-25,YYYY-MM-DD,"Persol Holdings Co., Ltd. announces plans to a...",Singapore,[],[],[],
1555,2016-12-07,YYYY-MM-DD,"Park24 Co., Ltd. announces plans to acquire 80...",Singapore,[],[],[],