In [1]:
import pandas as pd

In [2]:
gebiz = pd.read_csv("data/gebiz/government-procurement-via-gebiz.csv")

### 1. How many rows are there in the data?

In [3]:
len(gebiz)

12796

### 2. Display the first ten rows of the dataset

In [4]:
gebiz.head(10)

,tender_no.,agency,tender_description,award_date,tender_detail_status,supplier_name,awarded_amt
0,ACR000ETT14000007,Accounting And Corporate Regulatory Authority,Provision Of Event Management And Related Serv...,2015-02-06,Awarded to No Suppliers,NaN,0.00
1,ACR000ETT14000008,Accounting And Corporate Regulatory Authority,Invitation To Tender For The Provision Of Alte...,2015-04-30,Awarded to No Suppliers,NaN,0.00
2,ACR000ETT14000009,Accounting And Corporate Regulatory Authority,Invitation To Tender For The Provision Of Manp...,2015-01-28,Awarded to Suppliers,RMA CONTRACTS PTE. LTD.,76071.21
3,ACR000ETT15000004,Accounting And Corporate Regulatory Authority,Invitation To Tender For The Provision Of Manp...,2015-07-01,Awarded to Suppliers,TESCOM (SINGAPORE) SOFTWARE SYSTEMS TESTING PT...,84000.00
4,ACR000ETT15000005,Accounting And Corporate Regulatory Authority,Proposed Interior Fitting Out Works for ACRA's...,2015-04-24,Awarded to Suppliers,MKS GLOBAL PTE. LTD.,653255.00
5,ACR000ETT15000006,Accounting And Corporate Regulatory Authority,Provision Of Smart Card Access Control System ...,2015-06-26,Awarded to Suppliers,CERTIS CISCO SECURITY TECHNOLOGY PTE. LTD.,87690.00
6,ACR000ETT15000009,Accounting And Corporate Regulatory Authority,Invitation to tender for the provision of serv...,2015-08-14,Awarded to Suppliers,RHT COMPLIANCE SOLUTIONS PTE. LTD.,392000.00
7,ACR000ETT15000010,Accounting And Corporate Regulatory Authority,Invitation To Tender For The Provision Of Clea...,2015-07-30,Awarded to Suppliers,CLEANMAGE PTE. LTD.,122400.00
8,ACR000ETT15000011,Accounting And Corporate Regulatory Authority,Invitation to Tender for the provision of cons...,2015-11-23,Awarded to Suppliers,SOLUTIONSATWORK PTE. LTD.,320000.00
9,ACR000ETT15000013,Accounting And Corporate Regulatory Authority,Invitation to Tender (ITT) for the Provision o...,2016-02-19,Awarded to Suppliers,RHTLAW TAYLOR WESSING LLP,250000.00

### 3. Display the bottom five rows of the dataset

In [5]:
gebiz.tail()

,tender_no.,agency,tender_description,award_date,tender_detail_status,supplier_name,awarded_amt
12791,WDA000ETT16000026,Workforce Singapore,Invitation to Tender for Office Interior Fit-Out,2016-09-15,Awarded to Suppliers,ID.INC INTERIORS PTE LTD,3641716.0
12792,WDA000ETT16000027,Workforce Singapore,Invitation to Tender for Reinstatement Works f...,2016-11-02,Awarded to No Suppliers,NaN,0.0
12793,WDA000ETT16000028,SkillsFuture Singapore,Provision of Consultancy Services for Energy a...,2016-11-05,Awarded to Suppliers,SITE GROUP INTERNATIONAL PTE. LTD.,378000.0
12794,WDA000ETT16000029,SkillsFuture Singapore,Provision of Wireless@SG,2016-10-21,Awarded to Suppliers,M1 NET LTD.,42168.3
12795,WDA000ETT16000030,SkillsFuture Singapore,"Supply, Delivery, Installation, Testing and Co...",2016-11-28,Awarded to Suppliers,ANACLE SYSTEMS LIMITED,161137.0

### 4. Display descriptive statistics for the dataset

In [39]:
gebiz.describe(include = 'all')

,tender_no.,agency,tender_description,award_date,tender_detail_status,supplier_name,awarded_amt,year,month
count,12796,12796,12796,12796,12796,12184,1.279600e+04,12796,12796
unique,9780,113,9605,573,2,4723,NaN,3,12
top,FINVITETT16000005,Housing and Development Board,Provision of Meetings and Events Package Rates...,2017-01-24,Awarded to Suppliers,NCS PTE. LTD.,NaN,2016,01
freq,73,817,73,82,12184,137,NaN,6210,1571
mean,NaN,NaN,NaN,NaN,NaN,NaN,3.254089e+06,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,2.897157e+07,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,3.049375e+04,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,1.666032e+05,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,6.632815e+05,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,1.988000e+09,NaN,NaN

### 5. List the top ten agencies based on number of tenders released

In [42]:
gebiz.groupby('agency').count().sort_values(by = 'tender_no.', ascending = False)['tender_no.'].head(10)

agency
Housing and Development Board                    817
Ministry of Home Affairs-Ministry Headquarter    694
Public Utilities Board                           688
People's Association                             612
Agency for Science, Technology and Research      544
National University of Singapore                 527
Land Transport Authority                         494
Nanyang Technological University                 414
Ngee Ann Polytechnic                             385
Ministry of Education                            382
Name: tender_no., dtype: int64

### 6. List the top ten suppliers by total awarded amount

In [17]:
gebiz.groupby('supplier_name').sum().sort_values(by = 'awarded_amt', ascending = False).head(10)

                                               awarded_amt
supplier_name
GS ENGINEERING & CONSTRUCTION CORP.           1.988423e+09
SAMSUNG C&T CORPORATION                       1.839845e+09
SANTARLI CONSTRUCTION PTE. LTD.               1.178800e+09
NCS PTE. LTD.                                 8.917793e+08
KTC CIVIL ENGINEERING & CONSTRUCTION PTE LTD  8.147391e+08
TIONG SENG CONTRACTORS (PRIVATE) LIMITED      7.486755e+08
PENTA-OCEAN CONSTRUCTION CO LTD               6.744177e+08
HSL Constructor Pte Ltd                       6.486848e+08
KAJIMA OVERSEAS ASIA PTE LTD                  6.290955e+08
HYUNDAI ENGINEERING & CONSTRUCTION CO. LTD    6.017260e+08

### 7. What percentage of the tenders were not awarded to any suppliers?

In [20]:
len(gebiz[gebiz['supplier_name'].isnull()])/len(gebiz)

0.04782744607689903

### 8. Create new columns for the year and month of the tender award

In [23]:
gebiz['year'] = gebiz['award_date'].str.split('-').str[0]
gebiz['month'] = gebiz['award_date'].str.split('-').str[1]

0        2015
1        2015
2        2015
3        2015
4        2015
5        2015
6        2015
7        2015
8        2015
9        2016
10       2016
11       2016
12       2016
13       2016
14       2017
15       2015
16       2015
17       2015
18       2015
19       2015
20       2015
21       2015
22       2015
23       2015
24       2015
25       2015
26       2015
27       2016
28       2016
29       2015
         ...
12766    2016
12767    2016
12768    2016
12769    2016
12770    2016
12771    2016
12772    2016
12773    2016
12774    2016
12775    2016
12776    2016
12777    2016
12778    2016
12779    2016
12780    2016
12781    2016
12782    2016
12783    2016
12784    2016
12785    2016
12786    2016
12787    2016
12788    2016
12789    2016
12790    2016
12791    2016
12792    2016
12793    2016
12794    2016
12795    2016
Name: year, Length: 12796, dtype: object 0        02
1        04
2        01
3        07
4        04
5        06
6        08
7        07
8        11
9        02
10       06
11       06
12       09
13       12
14       01
15       05
16       01
17       03
18       04
19       06
20       07
21       09
22       08
23       11
24       11
25       11
26       11
27       01
28       03
29       12
         ..
12766    05
12767    04
12768    06
12769    07
12770    07
12771    05
12772    08
12773    08
12774    08
12775    08
12776    07
12777    08
12778    06
12779    07
12780    08
12781    08
12782    08
12783    09
12784    10
12785    09
12786    09
12787    09
12788    09
12789    09
12790    09
12791    09
12792    11
12793    11
12794    10
12795    11
Name: month, Length: 12796, dtype: object

### 9. List the top five months in 2016 which had the most number of tenders awarded to suppliers

In [33]:
gebiz[gebiz['year'] == '2016'].groupby('month').count().sort_values('tender_no.', ascending = False)['tender_no.'].head()

month
03    650
06    563
05    558
01    537
04    535
Name: tender_no., dtype: int64

### 10. List the top ten agency-supplier pairs by number of tenders awarded

In [38]:
gebiz.groupby(['agency','supplier_name']).count().sort_values('tender_no.', ascending = False)['tender_no.'].head(10)

agency                                         supplier_name
Housing and Development Board                  SURBANA JURONG CONSULTANTS PTE. LTD.    23
                                               CKM CONSULTANTS PTE LTD                 23
Government Technology Agency  (GovTech)        NCS PTE. LTD.                           20
Public Utilities Board                         SANLI M&E ENGINEERING PTE. LTD.         19
Ministry of Home Affairs-Ministry Headquarter  NCS PTE. LTD.                           13
Housing and Development Board                  FONG CONSULT PTE. LTD.                  12
                                               ENGINEERS 2002 (PTE)                    12
Building and Construction Authority            Pico Art International Pte Ltd          10
Republic Polytechnic                           TECHART GLOBAL PTE. LTD.                 9
Ministry of Education                          SURBANA JURONG CONSULTANTS PTE. LTD.     9
Name: tender_no., dtype: int64